
<div id="footer">
  <div class="special-heading contact">
    <h1>Contact</h1>
  </div>
  <div class="container">
    <section id="contact">
      <div class="row">
        <div class="col-md-12 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="/mail" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="name" name="name" class="form-control" placeholder="name" required>
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="email" name="email" class="form-control" placeholder="email" required>
                  <label for="email" class="">Your email</label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="subject" name="subject" class="form-control" placeholder="subject" required>
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form">
                  <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="your message"required></textarea>
                  <label for="message">Your message</label>
                </div>

              </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
          </form>
          <div class="text-center ">

          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="footer-socials">
    <div class="github inline">
      <a href="https://github.com/BastianBue" target="_blank"> <i class="fab fa-github fa-4x social-icon"></i></a>
    </div>
    <div class="linked-in inline">
      <a> <i class="fab fa-linkedin fa-4x social-icon"></i></a>
    </div>
    <div class="contact-social inline">
      <a href="mailto:b.bueld@gmx.de"><i class="fas fa-envelope fa-4x social-icon"></i></a>
    </div>
  </div>

  <p>&#169 Bastian Büld all rights reserved</p>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/activeItem.js" charset="utf-8"></script>
</body>
</html>
