<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Bastian B端ld">
  <title>Bastian B端ld | Portfolio</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap-social.css">
    <link rel="icon" href="../images/favicon.ico">
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black">
    <div class="container">

      <a href="/">  <img href="/" src="../images/logo.png" class="brand-logo" width="80" height="40" alt="Bastian B端ld Brand-logo" loading="lazy"></a>
      <a class="navbar-brand" href="/#">Bastian B端ld</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#newsletter">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/secrets">Share a Secret</a>
          </li>
        </ul>
        <a class="navbar-brand contact" href="">Contact</a>

      </div>
    </div>
  </nav>
  <div class="socials">
    <div class="github">
      <a href="https://github.com/BastianBue" target="_blank"> <i class="fab fa-github fa-4x social-icon"></i></a>
    </div>
    <div class="linked-in">
      <a target="_blank" > <i class="fab fa-linkedin fa-4x social-icon"></i></a>
    </div>
    <div class="contact-social">
      <a href="mailto:b.bueld@gmx.de"><i class="fas fa-envelope fa-4x social-icon"></i></a>
    </div>
  </div>
