<%- include('partials/header') %>

<div id="contact-succes">


<div class="jumbotron centered width-65">
  <div class="container">

    <h1 class="display-3">Thank you for making contact!</h1>
    <p class="lead">I hope to see you around.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/" role="button">I want to go back home!</a>

  </div>
</div>

</div>



<%- include('partials/footer') %>
